---
layout: default
---

<div class="grade">

   <h2>Course Assessment and Grading Scale</h2>
    <table border="1">
    <tr>
        <th>Category</th>
        <th>Percentage</th>
    </tr>
    <tr>
        <td>Project</td>
        <td>30%</td>
    </tr>
    <tr>
        <td>Assignments</td>
        <td>50%</td>
    </tr>
    <tr>
        <td>Midterm</td>
        <td>20%</td>
    </tr>
    </table>

    <br>
    <table border="1">
    <tr>
        <th>Grade</th>
        <th>Range</th>
    </tr>
    <tr>
        <td>A</td>
        <td>A+: ≥97.0, A: 93.4–96.9, A-: 90.0–93.3</td>
    </tr>
    <tr>
        <td>B</td>
        <td>B+: 86.7–89.9, B: 83.4–86.6, B-: 80.0–83.3</td>
    </tr>
    <tr>
        <td>C</td>
        <td>C+: 76.7–79.9, C: 73.4–76.6, C-: 70.0–73.3</td>
    </tr>
    <tr>
        <td>D</td>
        <td>D+: 66.7–69.9, D: 63.4–66.6, D-: 60.0–63.3</td>
    </tr>
    <tr>
        <td>F</td>
        <td>F: &lt;60.0</td>
    </tr>
    </table>

    <br>

    <h2>Course Policies</h2>

    <h3>Late Work</h3>
    <p>
        All assignments are due by 11:55 PM on the stated due date and must be submitted via Canvas. Assignments will be accepted up to three days past the deadline with a penalty of 20% per calendar day late.
    </p>

    <h3>Barriers and Accommodations</h3>
    <p>
        Our goal is a fully inclusive class, accessible to everyone. If you encounter or anticipate barriers to full
        participation and fair evaluation for any reason, please communicate your needs to the instructor so
        that we can find a suitable accommodation. If you encounter or observe other impediments to full
        participation, for yourself or others, please share your concerns with the instructor. You are also
        encouraged to contact the Accessible Education Center in 360 Oregon Hall at 541-346-1155 or uoaec@uoregon.edu. 
        It is particularly important that you inform the instructor in the first week of the quarter if you require
        accommodation. Delayed notification of such a requirement may make it impossible to provide the accommodation.
    </p>

    <h3>Academic Honesty</h3>
    <p>
        The University Student Conduct Code (available at conduct.uoregon.edu) defines academic misconduct.
        Students are prohibited from committing or attempting to commit any act that constitutes academic
        misconduct. Students should properly acknowledge and document all sources of information (e.g.,
        quotations, paraphrases, ideas) and use only the sources and resources authorized by the instructor. If
        there is any question about whether an act constitutes academic misconduct, it is the student’s
        obligation to clarify the question with the instructor before committing to attempting to commit the act.
        All projects turned in for the course must be your own work. Copying from other class members or other
        sources is not acceptable. If you collaborate with someone else on an assignment, you must indicate
        such on the work you turn in. Collaboration that is not explicitly credited is plagiarism.
        Academic honesty is expected, and cases of suspected dishonesty will be handled according to university
        policy. In particular, copying someone else's work (including material found on the web) will not be
        tolerated. If solutions to assignments are obtained from outside sources, the source must be cited.
        You are also responsible for protecting your work. That is, you must take reasonable precautions to
        prevent your work from being copied. This means that if you store your assignment solutions on a
        shared server, the file permissions must be set to keep others from accessing your files. If you are
        working on assignments in the lab, you must remove any of your files from the lab machine before you leave.
        Turning in someone else's code is collusion, and is a particularly heinous form of plagiarism; if collusion
        is detected, all individuals involved (i.e., the copyee and all copyers) will be given a grade of F in the course.
    </p>

    <h3>Academic Disruption Due to Campus Emergency</h3>
    <p>
        In the event of a campus emergency that disrupts academic activities, course requirements, deadlines,
      and grading percentages are subject to change. Information about changes in this course will be
      communicated as soon as possible by email and on Canvas. If we are not able to meet face-to-face,
      students should immediately log onto Canvas and read any announcements and./or access alternative
      assignments. Students are also encouraged to continue the readings and other assignments as outlined
      in this syllabus or subsequent versions of the syllabus.
    </p>

    <h3>Prohibited Discrimination and Harassment Reporting</h3>
    <p>
        I am a designated reporter. For information about my reporting obligations as an employee, please
        see Employee Reporting Obligations on the Office of Investigations and Civil Rights Compliance (OICRC)
        website. Students experiencing any form of prohibited discrimination or harassment, including sex or
        gender-based violence, may seek information and resources at safe.uoregon.edu, respect.uoregon.edu,
        or investigations.uoregon.edu or contact the non-confidential Title IX office/Office of Civil Rights
        Compliance (541-346-3123), or Dean of Students offices (541-346-3216), or call the 24-7 hotline 541-
        346-SAFE for help. I am also a mandatory reporter of child abuse. Please find more information
        at Mandatory Reporting of Child Abuse and Neglect.
    </p>

</div>
